@media screen and (max-width: 1200px) {
  #profile {
    height: 83vh;
    margin-bottom: 5rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
    
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1000px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 30vh;
    width: 100%;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
    margin-top: 6rem;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 4rem;
  }

  .navbar {
      position: fixed; /* Navbar akan selalu di posisi yang sama */
      top: 0; /* Tetapkan di bagian atas halaman */
      width: 100%; /* Lebar navbar mengikuti lebar layar */
      background-color: grey;
      color: white;
      padding: 10px 0;
      z-index: 1000; /* Agar tetap di atas elemen lainnya */
  }

  .skills_content{
    grid-template-columns: repeat(2, max-content);
  }
  /* .details-container {
    flex-direction: column;
  } */

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .copyright{
    margin-bottom: 4.5rem;
  }

  .social_icon{
    margin: 0px 0 25px 0;
  }

  .footer_title{
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: 25px;
  }

  .scrollup{
    right: 4.5rem;
  }
}